<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dorakdorak.domain.admin.mapper.AdminMapper">

  <select id="findDosiraksByName" parameterType="string"
    resultType="dorakdorak.domain.admin.dto.response.DosirakSearchResponseDto">
    SELECT
    ID AS dosirakId,
    NAME AS name
    FROM DOSIRAK
    WHERE NAME LIKE '%' || #{name} || '%'
    ORDER BY ID ASC
  </select>

</mapper>
