<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dorakdorak.domain.admin.mapper.AdminMapper">

  <select id="findDosiraksByName" parameterType="string"
    resultType="dorakdorak.domain.admin.dto.response.DosirakSearchResponseDto">
    SELECT
    ID AS dosirakId,
    NAME AS name
    FROM DOSIRAK
    WHERE NAME LIKE '%' || #{name} || '%'
    ORDER BY ID ASC
  </select>


  <update id="updateOfficialDosirak">
    UPDATE DOSIRAK
    SET IS_CUSTOM = 'NORMAL',
    UPDATED_AT = SYSTIMESTAMP,
    UPDATED_BY = #{adminId}
    WHERE ID = #{customDosirakId}
  </update>


  <select id="getWeeklySales" parameterType="Long"
    resultType="dorakdorak.domain.admin.dto.StatisticsSalesResponseDto">
    WITH dates AS (
    SELECT TO_CHAR(TRUNC(SYSDATE) - LEVEL + 1, 'YYYY-MM-DD') AS sales_date
    FROM dual
    CONNECT BY LEVEL &lt;= 7
    ),
    sales AS (
    SELECT TO_CHAR(TRUNC(o.arrival_at), 'YYYY-MM-DD') AS sales_date,
    COUNT(*) AS count
    FROM orders o
    JOIN order_items oi ON o.id = oi.order_id
    WHERE o.arrival_at &gt;= TRUNC(SYSDATE) - 6
    <if test="dosirakId != null">
      AND oi.dosirak_id = #{dosirakId}
    </if>
    GROUP BY TO_CHAR(TRUNC(o.arrival_at), 'YYYY-MM-DD')
    )
    SELECT d.sales_date AS day, NVL(s.count, 0) AS count
    FROM dates d
    LEFT JOIN sales s ON d.sales_date = s.sales_date
    ORDER BY d.sales_date

  </select>


</mapper>
