<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dorakdorak.domain.zeroWaste.mapper.ZeroWasteMapper">

  <select id="findUniversityRankings"
    resultType="dorakdorak.domain.zeroWaste.dto.response.UniversityRankingResponseDto">
    SELECT
    RANKING.RANK AS RANK,
    U.NAME AS NAME,
    RANKING.COUNT AS COUNT,
    U.LOGO_URL AS LOGO_URL
    FROM (
    SELECT
    U.ID AS UNIVERSITY_ID,
    NVL(SUM(M.ZERO_WASTE_COUNT), 0) AS COUNT,
    RANK() OVER (ORDER BY NVL(SUM(M.ZERO_WASTE_COUNT), 0) DESC) AS RANK
    FROM UNIVERSITY U
    LEFT JOIN MEMBER M ON U.ID = M.UNIVERSITY_ID
    GROUP BY U.ID
    ) RANKING
    JOIN UNIVERSITY U ON RANKING.UNIVERSITY_ID = U.ID
    ORDER BY RANKING.RANK
  </select>

</mapper>
